/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/*=======================
 Common css and utilities  
 =========================*/
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 25px;
}
/*/=======================
 header css  
  =========================*/
.navigation {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.logo img {
  width: 20%;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin-right: 40px;
  list-style: none;
}
.navbar ul li a {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}
.banner-content h1 {
  font-size: 2.7em;
  position: relative;
}
#title {
  font-size: 60px;
  white-space: nowrap;

  color: transparent;
}
#title {
  content: "Influencer";
  position: absolute;
  top: 0;
  left: 0;
  color: #22bedd;
  animation: typing 3s linear infinite;
}
.banner-content p {
  line-height: 25px;
  margin: 20px 0px;
}
.banner-content button {
  position: relative;
  margin-top: 4%;
  background: #ff3786;
  border: 1px solid rgb(255 47 129);
  padding: 20px;
  font-size: 0.9em;
  color: white;
  box-shadow: 4px 4px 0px 0px rgb(118 57 217);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  left: 0;
  top: 0;
}

.banner-content button:hover {
  left: 4px;
  top: 4px;
  box-shadow: 0 0 0 0 white;
}
.banner-img {
  width: 95%;
  flex: 1;
}
/* logo css  */
.brand-identity {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 50px 0px;
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* popular section css  */
.Popular-products h2 {
  text-align: center;
  font-size: 36px;
  margin: 65px 0px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 60px;
}
.product {
  border: 1px solid #ededed;
  margin: auto;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.see-more {
  color: #e02c6d;
  text-align: right;
  display: block;
  margin-right: 30px;
  margin-top: 20px;
  text-decoration: none;
}
/* contact form css  */

.contact {
  display: flex;
  justify-content: center;
  transform: translate(0%, 50%);
}
.image {
  width: 40%;
  margin-right: 5%;
}
.image h1 {
  font-size: 46px;
  font-family: ui-monospace;
}
.image p {
  color: #bcaeae;
}
.image img {
  width: 100%;
}
.form {
  width: 30%;
}
.form_content {
  margin-top: 13px;
}
.form_content input {
  width: 100%;

  margin-bottom: 28px;

  padding: 15px;

  border: 1px solid #e0dede;
}
.form_content textarea {
  margin-bottom: 28px;
  border: 1px solid #e0dede;
  width: 100%;
}
.form_content input[type="submit"] {
  background-color: #6c63ff;

  width: auto;

  color: white;
}
