/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/*=======================
 Common css and utilities  
 =========================*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}
/*/=======================
 header css  
  =========================*/
.navigation {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.logo img {
  width: 20%;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin-right: 20px;
  list-style: none;
}
.navbar ul li a {
  font-size: 18px;
  font-weight: 500;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}
.banner-content h1 {
  font-size: 3.4em;
}
.banner-content p {
  line-height: 25px;
  margin: 20px 0px;
}
.banner-content button {
  padding: 13px 27px;
  border-radius: 20px;
  border: none;
  background: #ff418d;
  color: #fff;
}
